body{
    background-color: #000000;
    color: white;
    overflow-x: hidden;
    width: 100vw;
}
.phone-disp{
    display: none;
}
#myNavbar img{
    height: 11vh;
    width:10vw;
    
}

#myNavbar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#myNavbar a{
    text-decoration: none;
    color: white;
    font-size: 2.2vh;
}
#myNavbar ul{
    margin-left:28vw;
    margin-right:0vw;
}
#myNavbar li{
    list-style-type: none;
    margin-left: 1vw;
    margin-right:1vw;
}
#myNavbar{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    
}
.carousel, .slider, .carousel-inner, .carousel-item{
    height: 90vh;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    padding: 10px;
    border-radius: 10px;
}

.carousel-caption h5 {
    font-size: 3rem;
    color: #fff;
}

.carousel-caption p {
    font-size: 1.25rem;
    color: #ddd;
}
.theme{
    color: tomato;
}
.mar{
    margin:3vw;
}
.flex-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.flex-info p{
    font-size: 1.4rem;
}
.img img{
    height: 20vh;
    width: 20vw;
    border-radius: 2vw;
    margin-right: 2vw;
}
.card{

    background-color: black;
    border: 1px solid rgb(32, 30, 30);
    margin-top: 5vh;
}
.con{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.con h3{
    margin: 5vh;
}
.card h5{
    color: tomato;

}

.card p{
    color: white;
}
.img .logo{
    height: 20vh;
    width: 20vw;
    margin-bottom: 2vh; 
}
*{
    font-family: "Poppins", sans-serif;

}

@media(max-width:1000px){
    .flex-info img{
        height: 30vh;
    }
    .flex-info{
        display: block;
    }
    #myNavbar img{
        width: 15vw;
    }
    .img .logo{
        width: 25vw;
        height: 15vh;
    }
}



nav button, .navbar-toggler-icon,.navbar-toggler{
    background-color: #fff;
    color: white;
}

.top-faculty{
    flex-wrap: wrap;
}
@media (max-width:1200px) {
    .f img{
        height: 10vh;
    }
}
@media(max-width:1000px){
    .carousel, .slider, .carousel-inner, .carousel-item{
        height: 70vh;
        width: 100vw;
    }
    nav img{
        height: 15vw;
    }
    
    .info p{
        font-size: 2vh;
    }
    .f img{
        width: 20vw;
    }
    
}
@media(max-width:900px){
    .f img{
        width: 30vw !important;
    }
}
@media(max-width:800px){
    .carousel, .slider, .carousel-inner, .carousel-item{
        height: 50vh
    }
    #myNavbar img{
        width: 20vw;
    }
}
@media(max-width:600px){
    .carousel, .slider, .carousel-inner, .carousel-item{
        display: none;
    }
    .phone-disp{
        display: block;
        
    }
    .phone-disp video{
        width: 100vw;
        height: 85vh;
    }
    #myNavbar img{
        width: 25vw;
    }
    .img .logo{
        height: 15vh;
        width: 35vw;
    }
    .f img{
        margin-top: 2vh;
        width: 40vw !important;
        
    }
}

@media(max-width:400px){
    #myNavbar img{
        display: none;
    }
    .img .logo{
       
        width: 50vw;
    }
    .f img{
        height: 25vh !important;
        margin-top: 5vh;
        width: 55vw !important;
    }
    .top-faculty h3{
        margin:20vw;
    }
}



